{% extends "base.html" %}

{% block content %}

<h1>Sign Up</h1>
<form class="/add" method="post">
   <label>Username:<input class="shiftRigth" type="text" name="" value=""></label>
   <br>
   <label>Password:<input class="shiftRigth" type="text" name="" value=""></label>
   <br>
   <label>Verify Password:<input class="shiftRigth" type="text" name="" value=""></label>
   <br>
   <label>Email (optional):<input class="shiftRigth" type="text" name="" value=""></label>
   <br>
   <input type="submit" value="Submit">
</form>


{% endblock %}
