{% extends "base.html" %}

{% block content %}

<h1>Sign Up</h1>
<form action="/add" method="post">
   <label for="newUser">Username:</label>
   <input type="text" name="newUser" value="{{new_user}}">
   <br>
   <label for="newPass">Password:</label>
   <input type="password" name="newPass">
   <br>
   <label for="verifyPass">Verify Password:</label>
   <input type="password" name="verifyPass">
   <br>
   <label for="newEmail">Email (optional):</label>
   <input type="text" name="newEmail" value="{{new_email}}">
   <br>
   <input type="submit" value="submitUser">
</form>


<p class="error">{{userName_error}}</p>
<p class="error">{{pword_error}}</p>
<p class="error">{{vPass_error}}</p>
<p class="error">{{email_error}}</p>

{% endblock %}
